.Logo{
    height: 46px;
    width: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;

    .logoImage{
        height: 25px;
        width: 50px;
    }

    .text{
        font-weight: 600;
    }
}