.headerContainer{
    background-color: #333;
    height: 46px;
    width: 100vw;
    position: fixed;
    
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        background-color: #000;
        height: 46px;
        width: 205px;
    }

    .headerLink{
        display: flex;
        color: #d6d2d2;
        
        .link{
            display: block;
            padding: 12px 0;
            height: 46px;
            box-sizing: border-box;
            text-align: center;
            width: 104px;
            border-right: 1px solid #111
        }

    }

    .upload{
        color: #d6d2d2;
        margin-left: 15px;
    }

    .pages{
        color: #d6d2d2;
        margin-left: 15px;

        li{
            font-size: 40px;
            font-weight: 700;
            position: relative;
            bottom: 11px;
        }
    }

}

li:hover{
    color: #fff;
}

@media only screen and (max-width: 1090px) {
    .headerLink{
        width: 180px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 953px) {
    .headerContainer{
        width: 978px;
    }
}



