.sign_in{
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #cdcaca;
    height: 26px;
    width: 67px;
    margin-left: 10px;
    border-radius: 5px;
}

.sign_in:hover{
    border: 1px solid #fff;
}