body{
    font-family: cera-round-pro, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


#song_container::-webkit-scrollbar{
    display: none;
}

.coming_soon{
    position: relative;
    top: 10px;
    left: -98px;
}


#dots{
    font-size: 35px;
    font-weight: 700;
    bottom: 10px;
}


